.main_scorecard{
    width: 100vw;
    height: 100vh;
    border: solid 2px crimson;
    padding: 1rem;

}

.body_section{
    width: 100%;
    height: 100%;
    border: solid 2px;
    padding: 1rem;
}
.nav_bar_scorecard {
    padding: 1rem;   
}

.div_ver_score{
    padding: 1rem;
}

.rango_puntacion{
    border: solid 1px;
}
.separador_rango{
    width: 15px;
    border-color: black;
}

.input--puntuacion{
    width: 60%;
    height: 50%;
}

.btn__add{
    height: 30%;
}

.div_rango_fecha{
    border: 1px solid;
}
.div_input_fecha{
    justify-content: center;
    align-items: baseline;
}

.inputs_fecha{
    justify-content: center;
    align-items: center;
}