
.test1{
  padding: 50px;
}

:root {
  /* Colors: */
  --background-secondary: #e9eef7;
  --active-tag: #d7e7fe;
  --light-gray-text: #53585e;
  --main-gray-text: #1e1f21;
  --placeholder: #85888c;
  --disabled: #bdc1c7;
  --shadow-2: #081a35;
  --shadow-1: #0a2753;
  --disabled-light: #e6e8eb;
  --light-gray-forms: #ebeff2;
  --main-background: #f0f2f5;
  --light-gray-table: #f5f7fa;
  --backgroung-principal-alt: #fafcff;
  --white: #ffffff;
  --eroom-secondary: #0c143e;
  --eroom-primary: #2870dd;
  --eroom-primary-alt-1: #0f71fa;
  --eroom-primary-alt-2: #589fff;
  --header: #f7faff;
  --toast: #2b2e3d;
  --error: #f23051;
  --success: #27c483;
  --warning: #fad44b;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/poppins_eroom/woff2/Poppins-Regular.woff2') format('woff2'),
      url('/Fonts/poppins_eroom/woff2/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/poppins_eroom/woff2/Poppins-SemiBold.woff2') format('woff2'),
      url('/Fonts/poppins_eroom/woff2/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.main_table .even{background: var(--light-gray-table);}
.main_table .odd{background: var(--white);}

.main_table.dataTable thead tr  {color: var(--white) !important;}

.main_table.dataTable thead:first-child tr:first-child {border-top-left-radius: 10px !important;}

.main_table.datatable { border-collapse: separate; }

.main_table.dataTable td { 
  border: solid 1px var(--disabled-light); 
  font-family: 'Poppins' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

/* tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; } */

/* bordes izquierdos y derecho de la tabla*/
.main_table tr:first-child th:first-child { border-top-left-radius: 8px !important;}
.main_table tr:first-child th:last-child { border-top-right-radius: 8px !important;}

 /* Las cabeceras,  los hijos para tomarlos a todos*/
 .main_table  tr:first-child th:nth-child(even) { 
  background-color: var(--eroom-primary) !important ;
  font-family: 'Poppins' !important;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  border: 0px;
}
.main_table tr:first-child th:nth-child(odd) { 
  background-color: var(--eroom-primary) !important ;
  font-family: 'Poppins' !important;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  border: 0px;
}
/*    */
/* altura del header*/
.main_table  tr:first-child  {
  height: 52px;
 }
/* la primera fila de la tabla*/
.main_table  tr:first-child td:nth-child(even) { 
  border-top: 0px !important;
}
.main_table tr:first-child td:nth-child(odd) { 
  border-top: 0px !important;
}

.main_table.dataTable {
     text-align: center;   
}

.main_table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 5px !important;
} 
/***para quitar las flechas por defecto***/
.main_table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before,.main_table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before{content: "" !important;}

.main_table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, .main_table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {content: "" !important;}


.main_table.dataTable tbody tr:hover {
    color: var(--main-gray-text);
    background-color: var(--active-tag);
    cursor: pointer;
    }

.main_table.dataTable tbody tr:active {
    color: var(--white);
    background-color: var(--eroom-primary-alt-2);
    cursor: pointer;
    } 

.main_table.dataTable tbody tr.selected {
    color: var(--white);
    background-color: var(--eroom-primary-alt-2);
}  

/* registros visibles en la tabla*/
.dataTables_length{
  display: none;
}

.main_table.dataTable thead th {
  background: transparent !important;
  white-space: nowrap !important;
}

.main_table.dataTable thead span.sort-icon {
  display: inline-block !important;
  padding-left: 0px;
  width: 16px;
  height: 16px;
}



.dataTables_filter {
  display: flex !important;
  flex-direction: column-reverse !important;
}
 
.main_table.dataTable thead .sorting_asc span { 
    background: url('../static/Icons_eRoom_Suite/dropdown-icon-filled.svg') no-repeat  center right !important;
    margin-right: 8px !important;
    transform: rotate(180deg) !important;
  }
  
  .main_table.dataTable thead .sorting_desc span { 
    background: url('../static/Icons_eRoom_Suite/dropdown-icon-filled.svg') no-repeat  center right !important;
     margin-left: 8px !important;
    }

  .main_table .sort-icon{
    filter: brightness(10) !important;
  }

  .main_table.dataTable td {
    padding: 15px;
}



.main_table::placeholder{
  color: var(--light-gray-text);
  font-family: 'Poppins' ;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

.input-special{
  background: var(--main-background) !important;
  border-radius: 17px !important;
  display: flex;
  background: var(--main-background) !important;
  border-radius: 17px !important;
  width: 50% !important;
  height: 100% !important;

  /* overflow: hidden !important; */
}


/*****************search****************/
/* posicion del  search*/
.dataTables_wrapper  .row:first-child{
  /* flex-direction: column-reverse !important; */
  margin-bottom: 1%;
}

.dataTables_wrapper  .row:first-child > div:last-child{
  display: flex !important;
}

.search_table{
  width: 320px !important;
  height: 34px !important;
  background:#F0F2F5 !important;
  border-radius: 17px ;
  border: 0;
  position: absolute;
  
  }
  
  .search::placeholder{
  font-size: 12px;
  text-indent: 1rem;
  font-family: "Poppins";
  }
  

/* .dataTables_filter   input  {
    background: var(--main-background) !important;
    border-radius: 17px !important;
    width: 100%;
    
  } */

.icon_search{
  width: 18px;
  position: relative;
  align-self: end;
  margin-right: 5%;
  /* position: relative; */
  
  }

  .search-icon-table path {
    fill: var(--light-gray-text)
  }


.dataTables_wrapper{
  overflow: hidden;
  padding: 1rem;
}
/***********Paginacion******************/

.dataTables_wrapper > .row:last-child > div:last-child >.dataTables_paginate > .pagination{
  justify-content: space-between;
}


.dataTables_wrapper > .row:last-child > div:last-child >.dataTables_paginate > .pagination > .paginate_button > .page-link{
  background: var(--disabled-light);
  color: var(--eroom-secondary);
  border-radius: 20px; /* el dise#o no indica el redondeado......*/
  font-size: 14px;
  font-family: "Poppins";
}

.dataTables_wrapper > .row:last-child > div:last-child >.dataTables_paginate > .pagination > .active >.page-link{
  background: var(--eroom-secondary);
  color: var(--white);
  border: 0px;
  }

 .dataTables_wrapper .row:last-child {
  margin-top: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
} 




/*********pruebas******/
.dataTables_wrapper > .row:first-child > div:first-child{
  display: none !important;
} 
.dataTables_filter{
  width: 235px;
  align-self: start;
  height: auto;
}

