
.test1{
  padding: 50px;
}

:root {
  /* Colors: */
  --background-secondary: #e9eef7;
  --active-tag: #d7e7fe;
  --light-gray-text: #53585e;
  --main-gray-text: #1e1f21;
  --placeholder: #85888c;
  --disabled: #bdc1c7;
  --shadow-2: #081a35;
  --shadow-1: #0a2753;
  --disabled-light: #e6e8eb;
  --light-gray-forms: #ebeff2;
  --main-background: #f0f2f5;
  --light-gray-table: #f5f7fa;
  --backgroung-principal-alt: #fafcff;
  --white: #ffffff;
  --eroom-secondary: #0c143e;
  --eroom-primary: #2870dd;
  --eroom-primary-alt-1: #0f71fa;
  --eroom-primary-alt-2: #589fff;
  --header: #f7faff;
  --toast: #2b2e3d;
  --error: #f23051;
  --success: #27c483;
  --warning: #fad44b;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/poppins_eroom/woff2/Poppins-Regular.woff2') format('woff2'),
      url('/Fonts/poppins_eroom/woff2/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/Fonts/poppins_eroom/woff2/Poppins-SemiBold.woff2') format('woff2'),
      url('/Fonts/poppins_eroom/woff2/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.main_table .even{background: var(--light-gray-table);}
.main_table .odd{background: var(--white);}

.main_table.dataTable thead tr  {color: var(--white) !important;}

.main_table.dataTable thead:first-child tr:first-child {border-top-left-radius: 10px !important;}

.main_table.datatable { border-collapse: separate; }

.main_table.dataTable td { 
  border: solid 1px var(--disabled-light); 
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

/* tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; } */

/* bordes izquierdos y derecho de la tabla*/
.main_table tr:first-child th:first-child { border-top-left-radius: 8px !important;}
.main_table tr:first-child th:last-child { border-top-right-radius: 8px !important;}

 /* Las cabeceras,  los hijos para tomarlos a todos*/
 .main_table  tr:first-child th:nth-child(even) { 
  background-color: var(--eroom-primary) !important ;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  

}
.main_table tr:first-child th:nth-child(odd) { 
  background-color: var(--eroom-primary) !important ;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
}
/*    */
.main_table.dataTable {
     text-align: center;   
}

.main_table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 5px !important;
} 
/***para quitar las flechas por defecto***/
.main_table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before,.main_table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before{content: "" !important;}

.main_table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, .main_table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {content: "" !important;}


.main_table.dataTable tbody tr:hover {

    color: var(--main-gray-text);
    background-color: var(--active-tag);
    cursor: pointer;
    
    }

.main_table.dataTable tbody tr:active {

    color: var(--white);
    background-color: var(--eroom-primary-alt-2);
    cursor: pointer;
    
    } 

.main_table.dataTable tbody tr.selected {
    color: var(--white);
    background-color: var(--eroom-primary-alt-2);
}  

/* registros visibles en la tabla*/
.dataTables_length{
  display: none;
}

/* table.dataTable thead .sorting_asc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center right  !important;
  }
  table.dataTable thead .sorting_desc {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center right !important;
  }
  table.dataTable thead .sorting {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center right !important;
  } */

  .main_table.dataTable thead th {
    background: transparent !important;
    white-space: nowrap !important;
  }
  
  .main_table.dataTable thead span.sort-icon {
    display: inline-block !important;
    padding-left: 0px;
    width: 16px;
    height: 16px;
  }
  
  .main_table.dataTable thead .sorting span { 
    margin-left: 16px;
} 
  .main_table.dataTable thead .sorting_asc span { 
      background: url('http://cdn.datatables.net/1.10.0/images/sort_asc.png') no-repeat center  right;
      margin-left: 8px; 
      margin-top: 16px;
    }
  
  .main_table.dataTable thead .sorting_desc span { 
    background: url('../static/Icons_eRoom_Suite/dropdown-icon-filled.svg') no-repeat   right;
    margin-left: 8px;
    margin-top: 18px;
    margin-right: 9px;
    
    
    }

  .main_table .sort-icon{
    
    filter: brightness(10) ;

  }

  .main_table.dataTable td {
    
    padding: 15px;
    
}

 .dataTables_filter   input  {
  background: var(--main-background) !important;
  border-radius: 17px !important;
  width: 100%;
  overflow: hidden;
}

.main_table::placeholder{
  color: var(--light-gray-text);
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}






    
  /* table.dataTable thead .sorting_asc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png') no-repeat  right; 
    margin-left: 8px;
    margin-top: 18px;
    margin-right: 9px;
  }
  table.dataTable thead .sorting_desc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png') no-repeat   right;
    margin-left: 8px;
    margin-top: 18px;
    margin-right: 9px;
  } */
  